<!DOCTYPE html>
<html lang="en">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admission.css' %}">
</head>
<body>
     {%if request.user.is_authenticated %}
   <div class="main">
         <div class="nav">
            <div class="signal"> <h2>signal</h2> </div>
            <div class="sub">
                {% if user.is_authenticated %}
                <div class="index"><a href="../index">Home</a></div>
                <div class="admission"><a href="../admission">Admission</a></div>
                <div class="section"><a href="{%url 'user_test_details'%}">Test details</a></div>
                <div class="attendance"><a href="{%url 'user_attendance'%}">Attendance</a></div>
                <div class="quiz"><a href="{% url 'quiz' %}">Quiz</a></div>
                <div class="review"><a href="{% url 'review_page'%}">review</a></div>
                <div class="contact"><a href="{% url 'send_email' %}">Contact Us</a></div>
                <div class="logout"><a href="../logout">Logout</a></div>
                <div class="profile"><a href="{% url 'view_profile' %}">Profile</a></div>

                {% else %}
                 <div><a href="../">Sign In</a></div>
                <div><a href="../register">Sign Up</a></div>
                <div><a href="">Contact Us</a></div>

                {% endif %}
            </div>
        </div>
        <div class="form">
            <h2 style="text-align:center">Register Here</h2>
    <form action="../admission" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table cellpadding="2" cellspacing="40">
<tr>
    <td><label for="name">Name:</label></td>
        <td> <input type="text" name="name" placeholder="name" class="name" required><br></td>
       <!-- </tr> -->
<!-- <tr> -->
    <td><label for="date">Date of Birth:</label></td>
        <td><input type="date" class="date" placeholder="Date of Birth" min="1899" max="2025" name="date_of_birth" required><br></td>
</tr>
    <tr>
        <td> <label for="gender">gender:</label></td>

            <td>  <select name="gender" id="gender">
            <option  selected disabled>--- Select Your Gender ---</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br></td>
    
<!-- </tr> -->
      <!-- <tr> -->
        <td><label for="email">email:</label></td>
        <td><input type="email" name="email" id="" class="email" placeholder="email" required><br></td>
    </tr>
     
       <tr>
        <td><label for="phone">phone:</label></td>
        <td><input type="tel" name="phone" id="" placeholder="phone number" class="phone"><br></td>
    <!-- </tr> -->
       
        <!-- <tr> -->
            <td><label for="address">address:</label></td>
            <td><textarea name="address" id="" placeholder="adress" rows="3" cols="41" class="adress"></textarea><br></td>
        </tr>
  
        <tr>
            <td><label for="emergency">emergency contact:</label></td> 
            <td><input type="tel" name="emergency_contact" placeholder="emergency contact" id="" class="emergency"><br></td>
        
        <!-- </tr> -->
        
        <!-- <tr> -->
            <td> <label for="aadhar">Adhar number:</label></td>
             <td> <input type="number" name="aadhar_number" id=""placeholder="aadhar" class="aadhar"><br></td>
            </tr>
        
       <tr>
        <td> <label for="identity_proof">adhaar photo:</label></td>
         <td>  <input type="file" name="identity_proof_upload" id="" class="identity_proof" placeholder="identity proof"><br></td>
    <!-- </tr> -->

       <!-- <tr>  -->
       <td> <label for="photo">photo:</label></td>
        <td>  <input type="file" name="photo" id="photo" placeholder="select file" class="photo" required><br></td>
 </tr>
<tr>
  <td><label for="vehicle">Select vehicle:</label></td>
  <td>
    <select name="vehicle_type" id="vehicle" class="vehicle" onchange="updateAmount()" required>
      <option value="" selected disabled>--- Select Vehicle ---</option>
      <option value="car">Car</option>
      <option value="bike">Bike</option>
      <option value="both">Both</option>
    </select>
  </td>

        <!-- </tr> -->
     <!-- <tr> -->
        <td><label for="amount">Amount (INR):</label></td>
        <td><input type="text" name="amount" id="amount" placeholder="Amount" readonly></td>
    </tr>
        
  
    <tr>
        <td><label for="batch">Schedule:</label></td>

    <td> <select name="preferred_batch_time" id="schedule">
        <option selected disabled>--- Select Batch</option>
        <option value="morning">Morning</option>
        <option value="evening">Evening</option>
       </select><br>  </td>
    </tr>
       
      <tr ><td colspan="4" style="text-align :center;"> <input type="submit" value="submit" class="btn"></td></tr>
    
</table>
    </form>
    {% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <div class="message {{ message.tags }}">
        {{ message }}
        <button class="close" onclick="this.parentElement.style.display='none';">&times;</button>
      </div>
    {% endfor %}
  </div>
{% endif %}
</div>


    </div>

    
<script>
  function updateAmount() {
    const vehicle = document.getElementById("vehicle").value;
    const amountField = document.getElementById("amount");

    if (vehicle === "car") {
      amountField.value = 8000;
    } else if (vehicle === "bike") {
      amountField.value = 2000;
    } 
     else if (vehicle === "both") {
      amountField.value = 10000;
    }else {
      amountField.value = "";
    }
  }
</script>
{% endif %}
</body>
</html>