<!DOCTYPE html>
<html lang="en">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/adupdate.css' %}">
</head>
<body>
     {%if request.user.is_authenticated %}
    <div class="main">
      <div class="nav">
            <div class="signal"> <h2>signal</h2> </div>
            <div class="sub">
                {% if user.is_authenticated %}
                <div class="adindex"><a href="../adindex">Home</a></div>
                <div class="quizlist"><a href="{% url 'question_list'%}">Question List</a></div>
                <div class="quizadd"><a href="{% url 'add_question'%}">Add Question</a></div>
                <div class="logout"><a href="../logout">Logout</a></div>
                <div class="addtest"><a href="{% url 'add_test'%}">Add test</a></div>
                <div class="testlist"><a href="{% url 'test_list'%}">Test list</a></div>
                <div class="add_attendance"><a href="{% url 'submit_attendance'%}">Add attendance</a></div>



                {% else %}
                 <div><a href="../">Sign In</a></div>
                <div><a href="../register">Sign Up</a></div>
                <div><a href="">Contact Us</a></div>

                {% endif %}
                 {%if request.user.is_authenticated %}
            </div>
        </div>
        <div class="form">
            <h2 style="text-align:center">Update Here</h2>
    <form action="../update/{{data.id}}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table cellpadding="2" cellspacing="40">
<tr>
    <td><label for="name">Name:</label></td>
        <td> <input type="text" name="name" placeholder="name" class="name" value="{{data.name}}" required><br></td>
       <!-- </tr> -->
<!-- <tr> -->
    <td><label for="date">Date of Birth:</label></td>
        <td><input type="date" class="date" placeholder="Date of Birth" min="1899" max="2025" name="date_of_birth" value="{{data.date_of_birth|date:'Y-m-d'}}" required><br></td>
</tr>
    <tr>
        <td> <label for="gender">gender:</label></td>

            <td>  <select name="gender" id="gender" >
        
            <option value="male"{% if data.gender == "male" %}selected{% endif %}>Male</option>
            <option value="female"{% if data.gender == "female" %}selected{% endif %}>Female</option>
            <option value="other"{% if data.gender == "other" %}selected{% endif %}>Other</option>
        </select><br></td>
    
<!-- </tr> -->
      <!-- <tr> -->
        <td><label for="email">email:</label></td>
        <td><input type="email" name="email" id="" class="email" placeholder="email" value="{{data.email}}" required><br></td>
    </tr>
     
       <tr>
        <td><label for="phone">phone:</label></td>
        <td><input type="tel" name="phone" id="" placeholder="phone number" class="phone" value="{{data.phone}}"><br></td>
    <!-- </tr> -->
       
        <!-- <tr> -->
            <td><label for="address">address:</label></td>
            <td><textarea name="address" id="" placeholder="adress" rows="3" cols="41" class="adress" >{{data.address}}</textarea><br></td>
        </tr>
  
        <tr>
            <td><label for="emergency">emergency contact:</label></td> 
            <td><input type="tel" name="emergency_contact" placeholder="emergency contact" id="" class="emergency" value="{{data.emergency_contact}}"><br></td>
        
        <!-- </tr> -->
        
        <!-- <tr> -->
            <td> <label for="aadhar">Adhar number:</label></td>
             <td> <input type="number" name="aadhar_number" id=""placeholder="aadhar" class="aadhar" value="{{data.aadhar_number}}"><br></td>
            </tr>
        
       <tr>
        <td> <label for="identity_proof">adhaar photo:</label></td>
         <td>  <input type="file" name="identity_proof_upload" id="" class="identity_proof" placeholder="identity proof" required>
          {% if data.identity_proof_upload %}
    <img src="{{ data.identity_proof_upload.url }}" alt="Current Photo" height="80">
{% endif %}<br></td>
    <!-- </tr> -->

       <!-- <tr>  -->
       <td> <label for="photo">photo:</label></td>
        <td>  <input type="file" name="photo" id="photo" placeholder="select file" class="photo"  " required>{% if data.photo %}
    <img src="{{ data.photo.url }}" alt="Current Photo" height="80">
{% endif %}<br></td>
 </tr>
<tr>
  <td><label for="vehicle">Select vehicle:</label></td>
  <td>
    <select disabled>
  <option value="car" {% if selected == 'car' %}selected{% endif %}>Car</option>
  <option value="bike" {% if selected == 'bike' %}selected{% endif %} >Bike</option>
  <option value="both" {% if selected == 'both' %}selected{% endif %} >Both</option>
</select>

<!-- Hidden field to actually submit -->
<input type="hidden" name="vehicle_type" value="{{ selected }}">
  </td>


        <!-- </tr> -->
     <!-- <tr> -->
        <td><label for="amount">Amount (INR):</label></td>
        <td><input type="text" name="amount" id="amount" placeholder="Amount" value="{{data1.amount}}"readonly></td>
    </tr>
        
  
    <tr>
        <td><label for="batch">Schedule:</label></td>

    <td> <select name="preferred_batch_time" id="schedule">
       
        <option value="morning"{%if data.preffered_batch_time == "morning"%}selected{% endif %}>Morning</option>
        <option value="evening"{%if data.preffered_batch_time == "evening"%}selected{% endif %}>Evening</option>
       </select><br>  </td>
    </tr>
       
      <tr ><td colspan="4" style="text-align :center;"> <input type="submit" value="submit" class="btn"></td></tr>
    
</table>


    </form>
</div>
    </div>

    
<script>
  function updateAmount() {
    const vehicle = document.getElementById("vehicle").value;
    const amountField = document.getElementById("amount");

    if (vehicle === "car") {
      amountField.value = 8000;
    } else if (vehicle === "bike") {
      amountField.value = 2000;
    } 
     else if (vehicle === "both") {
      amountField.value = 10000;
    }else {
      amountField.value = "";
    }
  }
</script>
{% endif %}
{% endif %}
</body>
</html>